<br>
<div class="container-fluid" style="height: 90vh;">
    <div class="row no-gutter">


        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5" style="height: 90vh;">

                <!-- Demo content-->
                <div class="container" >
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4">OASIS Books</h3>
                            <p class="text-muted mb-4">Online Book Library</p>
                            <form method="POST" action="/books/upload">
                                <div class="form-group mb-3">
                                    <input id="inputname" name="name" type="text" placeholder="Book Name" required=""
                                        class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>  
                                <div class="form-group mb-3">
                                    <input id="inputrn" name="description" type="text" placeholder="Description" required=""
                                        class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                
                               <div class="form-group mb-3">
                                    <input id="inputname" name="link" type="text" placeholder="Book Link" required=""
                                        class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>  
                               
                                <button type="submit"
                                    class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Upload</button>
                                
                            </form>
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>
<br>
<br> 