<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#777" />
            </svg>

            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>OASIS</h1>
                    <p>Securing the virtual student.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#777" />
            </svg>

            <div class="container">
                <div class="carousel-caption">
                    <h1>Chat with your friends.</h1>
                    <p>Message faster. End-to-End Encryption. Highly Secure.</p>
                    <p><a class="btn btn-lg btn-primary" href="/chat">Chat</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#777" />
            </svg>

            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Access books</h1>
                    <p>Find all the books that you need. Contribute to the community by sharing yours.</p>
                    <p><a class="btn btn-lg btn-primary" href="/books">Browse library</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#777" />
            </svg>

            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Secure your personal documents.</h1>
                    <p>Save all your personal documents all at one place. Encrypted and Locked.</p>
                    <p><a class="btn btn-lg btn-primary" href="/documents">Upload</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container marketing">
    <div class="row">
        <div class="col-lg-4">
            <img src="/images/chat.png" alt="chat" width="150" height="150">

            <h2>Chat</h2>
            <p>Send text, emojis, images with a seamless and smooth experience.</p>
            <p><a class="btn btn-secondary" href="/chat">Start Messaging &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <img src="/images/book.png" alt="chat" width="150" height="150">


            <h2>Books</h2>
            <p>Find any book you want in our library. Made by the community, for the community.</p>
            <p><a class="btn btn-secondary" href="/books">View Library &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <img src="/images/docs.png" alt="chat" width="150" height="150">

            <h2>Personal Documents</h2>
            <p>Store all your personal documents at securely once place. No other user, not even OASIS can read them.</p>
            <p><a class="btn btn-secondary" href="/documents">View documents &raquo;</a></p>
        </div>
    </div>

    <hr class="featurette-divider">
</div>